<div class="container">
  <div class="clearfix">
  </div>
  <br>

  <div class="jumbotron">
    <h1 class="display-3">Angular Universal: server-side rendering</h1>
    <p class="lead">A normal Angular application executes in the browser, rendering pages in the DOM in response to user actions. Angular Universal generates static application pages on the server through a process called server-side rendering (SSR). When Universal is integrated with your app, it can generate and serve those pages in response to requests from browsers. It can also pre-generate pages as HTML files that you serve later...</p>
    <p><a target="_blank" class="" href="https://angular.io/guide/universal">Read more</a></p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor..</p>

      <h4>Subheading</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor..</p>
    </div>

    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor..</p>

      <h4>Subheading</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor..</p>
    </div>
  </div>
</div>
